:root {
  /* Styles defined in style-guide.md*/
  --main-bg: hsl(47, 88%, 63%);
  --card-bg: hsl(0, 0%, 100%);
  --text-accent: hsl(0, 0%, 42%);
  --text-main: hsl(0, 0%, 7%);

  --box-shadow-bg: hsl(0, 0%, 7%);

  --text-md: 1rem;

  --font-medium: 500;
  --font-extra-bold: 800;
}

body {
  background-color: var(--main-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Figtree;
}

.card {
  background-color: var(--card-bg);
  display: flex;
  flex-direction: column;
  align-items: justify-start;
  border: 1px solid black;
  padding: 1rem;
  box-shadow: 0.32rem 0.32rem 0 0 black;
}

/* Mobile first media queries */
@media screen and (min-width: 375px) {
  .card {
    max-width: 300px;
    line-height: 1.5rem;
    border-radius: 1rem;
    padding: 1.5rem;
  }

  .img-wrapper {
    height: 200px;
  }

  .img-wrapper,
  #illustration-article {
    border-radius: 1rem;
  }

  #illustration-article {
    border-radius: 1rem;
    object-fit: none;
  }

  .header-title {
    background-color: var(--main-bg);
    color: var(--text-main);
    font-weight: var(--font-extra-bold);
    border-radius: 0.5rem;
    font-size: 0.95em;
    padding: 0.25rem 0.5rem;
    width: min-content;
    margin: 0;
  }

  .header-subtitle {
    font-weight: var(--font-medium);
    color: var(--text-main);
    font-size: 0.95em;
  }

  .card-body-header > h1 {
    font-weight: var(--font-extra-bold);
    font-size: 1.35rem;
  }

  .card-body-content-text {
    font-size: 0.95rem;
  }
}

@media screen and (min-width: 1440px) {
  .card {
    max-width: 350px;
    border-radius: 0.5rem;
  }

  .img-wrapper {
    height: auto;
  }

  .img-wrapper,
  #illustration-article {
    border-radius: 0.5rem;
    padding: 0;
  }

  #illustration-article {
    border-radius: 0.5rem;
    object-fit: contain;
  }

  .header-title {
    padding: 0.5rem;
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 0.85rem;
}

.header-title {
  letter-spacing: 0.02rem;
  cursor: pointer;
}

.header-subtitle {
  font-weight: var(--font-medium);
  color: var(--text-main);
}

#illustration-article {
  width: 100%;
}

.header-title {
  background-color: var(--main-bg);
  color: var(--text-main);
  font-weight: var(--font-extra-bold);
  border-radius: 0.5rem;
  width: min-content;
  margin: 0;
}

.card-body-header > h1:hover {
  cursor: pointer;
  color: var(--main-bg);
}

.card-body-content-text {
  color: var(--text-accent);
  font-weight: var(--font-medium);
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author {
  font-weight: var(--font-extra-bold);
  font-size: 0.85rem;
}
